.btn-gov {
    background-color: #fff !important;
    border: 2px solid #00672f !important;
    border-radius: 4.5rem !important;
    color: #fff !important;
    background: #00672f !important;
    cursor: pointer !important;
    font-family: "Roboto",sans-serif;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    padding: .625rem 1.5rem !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    vertical-align: middle !important;
    box-shadow: none !important;
    font-size: 1rem !important;
}

.btn-gov:hover{
    box-shadow: inset 0 -2px 0 #003618 !important;
    background: #00682e !important;
}

.btn-gov:focus{
    box-shadow: inset 0 -2px 0 #003618, 0 0 0 3px #FFBF47 !important;
}

.btn-gov-secondary {
    background: #BDE5F8 !important;
    border: 2px solid #00529B !important;
    border-radius: 4.5rem !important;
    cursor: pointer !important;
    font-family: "Roboto",sans-serif;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    padding: 0.625rem 1.5rem !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    vertical-align: middle !important;
    box-shadow: none !important;
    font-size: 1rem !important;
}

.btn-gov-third {
    background: #f20511 !important;
    border: 2px solid #99030b !important;
    border-radius: 4.5rem !important;
    color: #fff !important;
    cursor: pointer !important;
    font-family: "Roboto",sans-serif;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    padding: 0.625rem 1.5rem !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    -o-transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    transition: background-color .1s ease-out,border-color .1s ease-out,color .1s ease-out !important;
    vertical-align: middle !important;
    box-shadow: none !important;
    font-size: 1rem !important;
}

.mainTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    word-break: break-all;
}

.mainTable thead tr th {
    background-color: #152e73 !important;
    color: #ffffff;
    text-align: left;
    font-weight: bold !important;
    font-size: 1.2em;
}

.mainTable th,
.mainTable td {
    padding: 12px 15px;
    min-width: 300px;
}

.mainTable td:nth-child(2) {
    background-color: #fffda1;
}

.mainTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.mainTable tr th:first-child,
.mainTable tr td:first-child {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

.mainTable thead tr th:nth-child(n+2),
.mainTable tbody tr td:nth-child(n+2) {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

.mainTable > tbody > tr > td:nth-child(n+2) > div > label:hover{
    cursor: pointer;
}

.mainTable td:nth-child(2) div input {
    width: 275px !important;
    float: left;
}

.mainTable tbody tr:nth-of-type(even) {
    background-color: #F8F8F8 !important;
}

.mainTable tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF !important;
}

.mainTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.mainTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.btn-reset {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 2px;
    min-width: 80px;
    height: 32px;
    background-color: rgb(0, 120, 212);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgb(0, 120, 212);
}

.btn-reset:hover {
    background-color: rgb(16, 110, 190);
    border: 1px solid rgb(16, 110, 190);
}

.txb-input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.txb-input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.inputbox {
    width: 300px;
    margin-top: 20px;
}

.inputbox > label{
    font-size: 1.1em;
    margin-left: 5px;
}

.inputbox > input {
    width: 90% !important;
    border-radius: 10px;
}

.inputbox:first-child {
    margin-top: 15px;
}

.inputbox:last-child {
    margin-bottom: 0;
}

.inputbox > input:focus{
    outline-color: orange;
}

.btn-search-blue {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.btn-search-blue:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-search-blue:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.refresh-field {
    display: inline;
}

.search-individual {
    border-right: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
    float: left;
    position: relative;
}

.btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.btn-close > i{
    color: indianred;
}

.search-individual:only-child > .btn-close{
    display: none;
}

.btn-column-remove {
    cursor: pointer;
    text-align: center;
}

.btn-column-remove > i{
    color: red;
}

#developerOptions{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 0;
    top: 0;
}

#developerOptions > span{
    color: red;
}

#developerOptions > .input-box-setting{
    margin: 5px;
}

#developerOptions > .input-box-setting > select{
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    box-shadow: 0 1px 3px -2px #9098A9;
}

.page-completed-body-summary label{
    font-size: 1.3em;
}

.summary-primary-individual, .summary-merged-individuals{
    margin: 10px 0px 10px 0px;
}